####################################################
####                                            ####
####    This is example configuration file      ####
####    for xen domain backup script.           ####
####                                            ####
####################################################

####################################################
####    Path to backup directory                ####
####    Currently without last "/"              ####
####################################################
[Path]
backup_path=

####################################################
####    Domains to be given salvation           ####
####################################################
[Domains]
domain1;imagepath
domain2;imagepath

####################################################
####                                            ####
####    Can not think up of any more lines      ####
####    Maybe will come up with anything later  ####
####    Got spellbound by such text formatting  ####
####                                            ####
####################################################