####################################################
####                                            ####
####    This is example configuration file      ####
####    for xen domain backup script.           ####
####                                            ####
####################################################

